{{extend 'layout.html'}}

<h3>{{=post.title}}</h3>
<i>Uploaded {{=prettydate(post.created_on)}} by {{=author(post.created_by)}}</i>

<div style="margin-top:1%;">
<div class="well well-sm" style="height:35%;width:35%;float:left;">
    <img src="{{=URL('download',args=post.image)}}" style="height:100%; width:100%;"></img>
</div>
<div style="display:inline-block; float:left; margin-left:1%;">
<div class="well well-sm">
    <h4>In Brief:</h4>
    {{=post.short_description}}
</div>
<div class="well well-sm">
    <h4>Ingredients:</h4>
    <p style="margin:0;padding:0;">{{=post.ingredients}}</p>
</div>
</div>
</div>

<div class="well well-sm" style="clear:both;">
    <h4>How To:</h4>
    <p style="margin:0;padding:0;">{{=post.how_to}}</p>
</div>

{{if post.created_by == auth.user_id:}}
<a class="btn btn-info btn-sm" href="{{=URL('edit_recipe',args=post.id)}}"style="margin-right:1%;"><span class="glyphicon glyphicon-edit"> Edit this recepie</a>
{{pass}}

<a class="btn btn-primary btn-sm" href="{{=URL('view_comments',args=post.id)}}" style="margin-right:1%;"><span class="glyphicon glyphicon-list-alt"> comments</a>
    <button class="btn btn-success btn btn-sm" data-direction='up'style="margin-right:1%;"><span class="glyphicon glyphicon-thumbs-up"></span> Like <span class="votes badge">{{=post.votes}}</span></button>
    <button class="btn btn-warning btn btn-sm" data-direction='down'style="margin-right:1%;"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button>
<br><br>

<script>
    function do_ajax_vote(t,direction){
    var id = {{=post.id}};
        jQuery.ajax({method:'post',
                     url:'{{=URL('vote_callback')}}',
                     data:{'id':id,'direction':direction},
                     success:function(data){
                        $('.votes').html(data);
                    }
        });
    }
jQuery(function(){
    jQuery('[data-direction=up').click(function(){
        do_ajax_vote(this,'up');});
    jQuery('[data-direction=down').click(function(){
        do_ajax_vote(this,'down');});
})
</script>
